[submodule "tuum-rtex"]
	path = tuum-rtex
	url = https://github.com/kiik/tuum-rtex.git
[submodule "libtuum"]
	path = libtuum
	url = https://github.com/kiik/libtuum.git
[submodule "tuum-deimos"]
	path = tuum-deimos
	url = https://github.com/kiik/tuum-deimos.git
